/* Images created by: https://unsplash.com/@pawel_czerwinski */
@import url('https://fonts.googleapis.com/css2?family=Vesper+Libre:wght@400;700&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Vesper Libre, sans-serif;
  font-size: 12px;
}
.logo{
  margin: 0px;
  padding: 0px;
  float:left;
  margin-bottom: 100px;
}
.logo img{
  width: 150px;
  
}
.player-container{
  height: 500px;
  width: 400px;
  background: #131212;
  border-radius: 20px;
  box-shadow: 0 15px 30px 5px rgba(255, 255, 255, 0.3);
}


.img-container {
  height: 300px;
  width: 300px;
  position: relative;
  top: -50px;
  left: 50px;
}
.img-container img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20%;
  box-shadow: 0 5px 30px 5px rgba(247, 244, 244, 0.5);
}

h2 {
  font-size: 25px;
  text-align: center;
  margin: 0;
  color: #fff;
}

h3 {
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  margin: 5px 0 0;
  color: #fff;
}

/* Progress */
.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 40px 20px;
  height: 4px;
  width: 90%;
}

.progress {
  background: red;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  /* transition: width 0.1s linear; */
}

.duration-wrapper {
  position: relative;
  top: -25px;
  display: flex;
  justify-content: space-between;
}

/* Controls */
.player-controls {
  position: relative;
  top: -15px;
  left: 80px;
  width: 200px;
}

.fas {
  font-size: 30px;
  color: rgb(129, 129, 129);
  margin-right: 30px;
  cursor: pointer;
  user-select: none;
}
.fas:hover {
  filter: brightness(80%);
}
.main-button {
  font-size: 40px;
  position: relative;
  top: 3px;
}
/* Volume */
.fa-volume-up{
  font-size: 15px;
  margin-right: 0px;
}
.fa-volume-down {
  font-size: 15px;
  margin-right: 0px;
}
.volume-container{
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100px;
  bottom: -225px;
  height: 20px;
}
.volume-container:hover .volume-control {
 
  float: left;
  display: flex;
}


/* Media Query: iPhone (Vertical) */
@media screen and (max-width: 376px) {
.player-container {
  width: 95vw;
}

  .img-container {
    left: 29px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }

  .player-controls {
    top: -10px;
    left: 80px;
    
  }
}

